<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <h1>Edit Items</h1>
    <div>
        <input id="FilterInput" class="form-control" placeholder="Search Items...">
    </div>
    <div class="table-responsive my-2 text-center">
        <div id="msg-container"></div>
        <table id="ordertable" class="table table-hover col-6 text-center font-size" style="color: #c01d67">
            <thead class="table-success">
            <tr>
                <th class="text-center">#ID</th>
                <th class="text-center">Category</th>
                <th class="text-center">Discount</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Image</th>
                <th class="text-center">Serving Time</th>
                <th><i class="bi bi-pencil-fill text-center" style="font-size:20px ;color:red"></i></th>
            </tr>

            </thead>
            {% for i in data %}
                <tr id="trow-{{ i.id }}" class="p-3 m-2 mt-3 rounded">
                    <form action="{{ url_for('edit_items') }}" method="POST" id="{{ i.id }}"></form>
                    <td class="text-success">{{ i.id }}</td>
                    <td class="text-white">
                        <div class="dropdown btn-group">
                            <button id="drop-stat" type="button"
                                    class="btn btn-warning dropdown-toggle"
                                    data-bs-toggle="dropdown" style="width: 8rem">
                                {{ i.cat_name }}
                            </button>
                            <input style="display: none" disabled type="text" name="cat_name" id="{{ i.id }}"
                                   value="">
                            <ul class="dropdown-menu">
                                {% for j in cat %}
                                    <li class="dropdown-item">
                                        <a
                                                class="dropdown-item"
                                                href="#">{{ j.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td class="text-white"><input style="width: 60px" type="number" class="form-control"
                                                  name="discount" id="status_id"
                                                  required
                                                  min="0" max="999" value="{{ i.discount }}" form="{{ i.id }}"></td>
                    <td><input type="text" class="form-control" name="name" id="status_id"
                               required
                               min="1" max="999" value="{{ i.name }}" form="{{ i.id }}"></td>
                    <td><input type="number" class="form-control" name="price" id="item_id"
                               required
                               min="1" max="999" value="{{ i.price }}" form="{{ i.id }}"></td>
                    <td>
                        {#                        <input type="text" class="form-control text-center" name=""#}
                        {#                               id="number_item"#}
                        {#                               required#}
                        {#                               min="1" max="999" value="{{ i.image_url }}" form="{{ i.id }}">#}
                        <img src="{{i.image_url}}" alt="" width="50px" height="45px">

                    </td>
                    <td><input type="number" class="form-control text-center" name="serving_time"
                               id="number_item"
                               required
                               min="1" max="999" value="{{ i.serving_time }}" form="{{ i.id }}"></td>

                    <td>
                        <button class="btn btn-danger" onclick="ApplyEdits(this.id)" id="{{ i.id }}">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="btn btn-success" value="Add"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    function ApplyEdits(ButtonId) {
        let elem = $(`#trow-${ButtonId} input`)
        let PostJson = {"_id": ButtonId}
        for (let Input of elem) {
            let value = null
            if (Input.type === "checkbox") {
                value = Input.checked
            } else {
                value = Input.value
            }
            PostJson[Input.name] = value
        }
        console.log(PostJson)
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/cashier/edit_items",
            data: PostJson,
            success: function (response) {
                let msg = $(`<div>${response}</div>`)
                msg.appendTo($(`#msg-container`))
            },
            error: function () {
                let msg = $(`<div>error!!!!!</div>`)
                msg.appendTo($(`#msg-container`))
            }
        })
    }

    $("#FilterInput").on("input", function () {
        var value = $(this).val().toLowerCase();
        $("#ordertable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    $(".dropdown-menu a").click(function () {
        $(this).closest('.btn-group').find(".dropdown-menu a").removeClass('active');
        $(this).addClass('active');
        $(this).closest('.btn-group').find('button').html($(this).text())
        $(this).closest('.btn-group').find('input').val($(this).text())
    })

</script>
</html>