<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container-fluid my-2">
    <div style="display: flex;flex-wrap: wrap;justify-content: center;align-items: center;margin-top:2rem">
        <div class="card col-5 m-2" style="height: 15.5rem">
            <div class="card-body">
                <h5 class="card-title text-center m-0">Tables</h5>
                <div class="card-text">
                    <canvas id="tables_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="card col-5 m-2" style="height: 15.5rem">
            <div class="card-body">
                <h5 class="card-title text-center m-0">Receipts</h5>
                <div class="card-text">
                    <canvas id="receipts_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="card col-5 m-2" style="height: 15.5rem">
            <div class="card-body">
                <h5 class="card-title text-center">Earning</h5>
                <div class="card-text">
                    Today's earning: {{ earning.today_earning }}$
                    {% if earning.today_earning > earning.yesterday_earning %}
                        <i class="fa fa-arrow-up" aria-hidden="true" style="color: green">{{ earning.percent }}%</i>
                    {% endif %}
                    {% if earning.today_earning < earning.yesterday_earning %}
                        <i class="fa fa-arrow-down" aria-hidden="true" style="color: red">{{ earning.percent }}%</i>
                    {% endif %}
                    <br>
                    Yesterday's earning: {{ earning.yesterday_earning }}$
                    <br>
                {% if earning.today_earning > earning.yesterday_earning %}
                <p class="text-center m-2">Congratulations! During last 24 hours, we had {{ earning.percent }} percent more earning comparing to yesterday. However, this calculation is based on total price and possible discounts by cashier is not included. Keep it up.</p>
                    {% endif %}
                {% if earning.today_earning < earning.yesterday_earning %}
                <p class="text-center m-2">Unfortunately, During last 24 hours, we had {{ earning.percent }} percent less earning comparing to yesterday. However, this calculation is based on total price and possible discounts by cashier is not included. Try harder.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="card col-5 m-2" style="height: 15.5rem">
            <div class="card-body">
                <h5 class="card-title text-center m-0">Orders:</h5>
                <div class="card-text">
                    <table class="m-2" style="width: 70%">
                        <tr>
                            <td>New Orders</td>
                            <td> {{ orders.new_orders }}</td>
                        </tr>
                        <tr>
                            <td>Cooking Orders</td>
                            <td> {{ orders.cook_orders }}</td>
                        </tr>
                        <tr>
                            <td>Serving Orders</td>
                            <td> {{ orders.serving_orders }}</td>
                        </tr>
                        <tr>
                            <td>Finished Orders</td>
                            <td> {{ orders.finished_orders }}</td>
                        </tr>
                        <tr>
                            <td>Total Orders</td>
                            <td> {{ orders.total_orders }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {#        <div class="card col-5 m-2">#}
        {#            <div class="card-body">#}
        {#                <h5 class="card-title text-center m-0">Tables</h5>#}
        {#                <div class="card-text">#}
        {#                    <canvas id="tables_chart"></canvas>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

</div>


<script>
    var xValues = ["Reserved", "Deleted", "Available"];
    var yValues = [{{tables_data.reserved_tables}}, {{tables_data.deleted_tables}}, {{tables_data.available_tables}}];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
    ];

    new Chart("tables_chart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
    });


    var xV = ["Today", "Yesterday", "2 Days ago", "3 Days ago", "4 Days ago"];
    var yV = [{{ receipt_data.receipt_1 }}, {{ receipt_data.receipt_2 }}, {{ receipt_data.receipt_3 }}, {{ receipt_data.receipt_4 }}, {{ receipt_data.receipt_5 }}];
    var barColors = ["#d46b08", "#d46b08", "#d46b08", "#d46b08", "#d46b08"];

    new Chart("receipts_chart", {
        type: "bar",
        data: {
            labels: xV,
            datasets: [{
                backgroundColor: barColors,
                data: yV
            }]
        },
        options: {
            legend: {display: false},
        },

    });


</script>


</body>
</html>