<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="msg-container"></div>
<div class="container-fluid">
    <h1>Orders</h1>
    <div>
        <input id="FilterInput" class="form-control" placeholder="Search Orders...">
    </div>
    <div class="table-responsive my-2 text-center">
        <div id="msg-container"></div>
        <table id="ordertable" class="table table-hover col-6 text-center font-size" style="color: #c01d67">
            <thead class="table-success">
            <tr>
                <th class="text-center">#ID</th>
                <th class="text-center">Table No.</th>
                <th class="text-center">Receipt ID</th>
                <th class="text-center">Status</th>
                <th class="text-center">Item ID</th>
                <th class="text-center">Time</th>
                <th class="text-center">Count</th>
                <th><i class="bi-trash text-center" style="font-size:20px ;color:red"></i></th>
                <th><i class="bi bi-pencil-fill text-center" style="font-size:20px ;color:red"></i></th>
            </tr>

            </thead>
            {% for i,j in data %}
                <tr id="trow-{{ i.id }}" class="p-3 m-2 mt-3 rounded">
                    <form action="{{ url_for('orders') }}" method="POST" id="{{ i.id }}"></form>
                    <td class="text-success">{{ i.id }}</td>

                    <td class="text-white">{{ i.table_id }}</td>

                    <td class="text-white">{{ i.receipt_id }}</td>

                    <td>
                        {#                        <input style="width: 60px" type="number" class="form-control" name="status_id" id="status_id"#}
                        {#                               required#}
                        {#                               min="1" max="999" value="{{ i.status_id }}" form="{{ i.id }}">#}
                        <div class="dropdown">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                                status
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Link 1</a></li>
                                <li><a class="dropdown-item" href="#">Link 2</a></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                            </ul>
                        </div>


                    </td>
                    <td><input style="width: 60px" type="number" class="form-control" name="item_id" id="item_id"
                               required
                               min="1" max="999" value="{{ i.item_id }}" form="{{ i.id }}"></td>
                    <td class="text-white">{{ i.time_stamp }}</td>
                    <td><input style="width: 60px" type="number" class="form-control text-center" name="number_item"
                               id="number_item"
                               required
                               min="1" max="999" value="{{ i.number_item }}" form="{{ i.id }}"></td>
                    <td><input type="checkbox" class="form-check-input" name="is_del" id="is_del"
                            {% if i.is_del %} checked {% endif %} form="{{ i.id }}"></td>
                    <td>
                        <button class="btn btn-danger" onclick="ApplyEdits(this.id)" id="{{ i.id }}">Edit</button>
                    </td>
                </tr>
                {#                </tbody>#}
            {% endfor %}
        </table>
    </div>
</div>
</body>
<script>
    function ApplyEdits(ButtonId) {
        let elem = $(`#trow-${ButtonId} input`)
        let PostJson = {"_id": ButtonId}
        for (let Input of elem) {
            let value = null
            if (Input.type === "checkbox") {
                value = Input.checked
            } else {
                value = Input.value
            }
            PostJson[Input.name] = value
        }
        console.log(PostJson)
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/cashier/orders",
            data: PostJson,
            success: function (response) {
                let msg = $(`<div class="alert alert-success alert-dismissible fade show">
                        <strong>Success!</strong> ${response}
                    </div>`)
                msg.appendTo($(`#msg-container`))
                setTimeout(() => {
                    $(`#msg-container`).slideToggle();
                }, 2000)

            },
            error: function () {
                let msg = $(`<div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error while adding order!</strong>
                              </div>`)
                msg.appendTo($(`#msg-container`))
            }
        })
    }

    $("#FilterInput").on("input", function () {
        var value = $(this).val().toLowerCase();
        $("#ordertable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
</html>