<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<style>
    .td-color {
        color: indigo;
    }
</style>
<div class="container-fluid">
    <h1>Orders</h1>
    <div>
        <input id="FilterInput" class="form-control" placeholder="Search Orders...">
    </div>
    <div class="table-responsive my-2">
        <table id="ordertable" class="table table-hover col-6 text-center font-size" style="color: #c01d67">
            <thead class="table-success">
            <tr>
                <td>#ID</td>
                <td>Table No.</td>
                <td>Receipt ID</td>
                <td>Status</td>
                <td>Item ID</td>
                <td>Time</td>
                <td>Count</td>
                <td>Deleted</td>
                <td>Edit</td>
            </tr>
            </thead>
            {% for i,j in data %}
{#                <form action="{% url_for(orders) %}" method="POST">#}
                    <tr>
                        <td class="td-color">{{ i.id }}</td>
                        <td class="td-color">{{ i.table_id }}</td>
                        <td class="td-color">{{ i.receipt_id }}</td>
                        <td><input style="width: 60px" type="number" class="form-control" name="status_id" id="count" required
                                   min="1" max="999" value="{{ i.status_id }}"></td>
                        <td><input style="width: 60px" type="number" class="form-control" name="item_id" id="count" required
                                   min="1" max="999" value="{{ i.item_id }}"></td>
                        <td><input type="datetime-local" class="form-control" name="" id="count"
                                   value="{{ j[0:23] }}"></td>
                        <td><input style="width: 60px" type="number" class="form-control" name="time_stamp" id="count" required
                                   min="1" max="999" value="{{ i.number_item }}"></td>
                        {% if i.is_del %}
                            <td><input type="checkbox" class="form-check-input" name="is_del" id="count" value=''
                                       checked></td>
                        {% else %}
                            <td><input type="checkbox" class="form-check-input" name="count" id="count" value=''>
                            </td>
                        {% endif %}
                        <td><input type="button" class="btn btn-danger" name="" value="Edit"></td>
                    </tr>
{#                </form>#}
            {% endfor %}
        </table>
    </div>
</div>
</body>
<script>
    $("#FilterInput").on("input", function () {
        var value = $(this).val().toLowerCase();
        $("#ordertable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
</html>