<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
<div class="container">
    <td class="row">
    <table class="table">
        {% for receipt in data %}
            <tr class="p-3 bg-secondary mt-3 border border-2 rounded">
                        <td class=" text-white">Id: {{ receipt._id }}</td>
                        <td class="text-white">Total Price: {{ receipt.total_price }}</td>
                        <td class=" text-white mx-2">
                            FinalPrice: {{ receipt.fianl_price if receipt.fianl_price else receipt.total_price }}
                        </td>
                        <td class="">
                            <center>
                                <i class="bi-trash-fill text-center" style="font-size:20px ;color:red"></i>
                            </center>
                        </td>
                        <td class="">
                            <i class="bi bi-check-all"></i>
                        </td>
                        {#                        <span class="col-lg-3 col-sm-12">TimeStamp: {{ receipt.time_stamp }}</span>#}
                        {#                        <div>Id: {{ receipt._id }}   Total Price: {{ receipt.total_price }}  FinalPrice: {{ receipt.fianl_price if receipt.fianl_price else receipt.total_price  }}</div>#}
            </tr>
        {% endfor %}
    </table>
{#        {% for receipt in data %}#}
{#            <div class="col-12 p-3 bg-secondary mt-3 border border-2 rounded">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-auto text-white">Id: {{ receipt._id }}</div>#}
{#                        <div class="col-auto text-white">Total Price: {{ receipt.total_price }}</div>#}
{#                        <div class="col-auto text-white mx-2">#}
{#                            FinalPrice: {{ receipt.fianl_price if receipt.fianl_price else receipt.total_price }}#}
{#                        </div>#}
{#                        <div class="col-auto"></div>#}
{#                        <div class="col-2">#}
{#                            <center>#}
{#                                <i class="bi-trash-fill text-center" style="font-size:20px ;color:red"></i>#}
{#                            </center>#}
{#                        </div>#}
{#                        <div class="col-1"></div>#}
{#                        <div class="col-auto">#}
{#                            <i class="bi bi-check-all"></i>#}
{#                        </div>#}
                        {#                        <span class="col-lg-3 col-sm-12">TimeStamp: {{ receipt.time_stamp }}</span>#}
                        {#                        <div>Id: {{ receipt._id }}   Total Price: {{ receipt.total_price }}  FinalPrice: {{ receipt.fianl_price if receipt.fianl_price else receipt.total_price  }}</div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
</div>
</body>
</html>