<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        {% for receipt in data %}
            <div class="col-12 p-4 m-3">
                <span class="mx-5">Id: {{ receipt._id }}</span>
                <span class="mx-5">Total Price: {{ receipt.total_price }}</span>
                <span class="mx-5">FinalPrice: {{ receipt.fianl_price }}</span>
                <span class="mx-5">TimeStamp: {{ receipt.time_stamp }}</span>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>