<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Tables</h1>
    <div>
        <input id="FilterInput" class="form-control" placeholder="Search Orders...">
    </div>
    <div class="table-responsive my-2">
        <div id="msg-container"></div>
        <table id="maintable" class="table table-hover bg-white col-6 text-center font-size" style="color: #c01d67">
            <thead class="table-success">
            <tr id="tr">
                <th>Table no.</th>
                <th>Space</th>
                <th>Status</th>
                <th><i class="bi bi-pencil-fill text-center" style="font-size:20px ;color:red"></i></th>
                <th><i class="bi-trash text-center" style="font-size:20px ;color:red"></i></th>
                <th></th>
            </tr>
            </thead>
            {% set x = 0 %}
            {% for i in data %}

                <tr id="trow-{{ i.id }}">
                    <td class="text-dark">
                        <input class="form-control TableNumberInput" type="number" value="{{ i.id }}">
                    </td>
                    <td>
                        <input type="number" class="form-control TableSpaceInput" oninput="absNumber(this)"
                               value="{{ i.space }}">
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input TableIsEmptyInput" {% if i.is_empty %}
                               checked {% endif %}>
                    </td>

                    <td>
                        <button onclick="ApplyEdits(this, {{ i.id }})" class="btn btn-warning">
                            Edit
                        </button>
                    </td>

                    <td>
                        <button onclick="deleteTable({{ i.id }})" class="btn btn-danger">
                            Delete
                        </button>
                    </td>

                </tr>
                {% set x = i.id %}
            {% endfor %}
        </table>
    </div>

    <div class="row justify-content-end">
        <div class="col-6 col-sm-5 col-md-3">
            <button type="button" onclick="addNewTable()" class="btn btn-success form-control">Add new row</button>
        </div>
    </div>
</div>
</body>

<script>
    function absNumber(tag) {
        let val = $(tag).val();
        if (val < 1) {
            $(tag).val(1)
        }
    }

    function ApplyEdits(tag, id) {
        console.log(tag)
        console.log(id)
        let table_number = $(tag).parents('.row').find('.TableNumberInput').val();
        let table_space = $(tag).parents('.row').find('.TableSpaceInput').val();
        let TableIsEmptyInput = $(tag).parents('.row').find('.TableIsEmptyInput');

        let table_is_empty = 0;
        if (TableIsEmptyInput.is(':checked')) {
            table_is_empty = 1;
        }

        let PostJson = {
            id: id,
            table_number: table_number,
            table_space: table_space,
            table_is_empty: table_is_empty,
        }

        {#let formData = new FormData;#}
        {#formData.append('id', id);#}
        {#formData.append('table_number', table_number);#}
        {#formData.append('table_space', table_space);#}
        {#formData.append('table_is_empty', table_is_empty);#}

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/cashier/tables",
            data: PostJson,
            success: function (response) {
                let msg = $(`<div>' + response + '</div>`);
                msg.appendTo($(`#msg-container`));
            },
            error: function (err) {
                let msg = $(`<div>' + err + '</div>`);
                msg.appendTo($(`#msg-container`));
            }
        })
    }

    function addNewTable() {
        let main_table = $("#maintable");

        let tr = '<tr id="">' +
            '<td class="text-dark"><input placeholder="Table number:" type="number" class="form-control" name="id">' +
            '</td>' +
            '<td><input placeholder="Table space:" type="number" class="form-control" name="space" required oninput="absNumber(this.value)" value="" form="10"></td>' +
            '<td colspan="2">' +
            '<button onclick="addNewTableSubmit(this.id)" class="btn btn-success form-control">Add' +
            '</button>' +
            '</td>' +
            '<td>' +
            '<button onclick="removeTr(this)" class="btn btn-danger"> X </button>' +
            '</td>' +
            '</tr>';

        main_table.append(tr);
    }

    function removeTr(tag) {
        $(tag).parents('tr').remove();
    }

    function addNewTableSubmit() {

    }

    function deleteTable(table_id) {

    }

    $("#FilterInput").on("input", function () {
        var value = $(this).val().toLowerCase();
        $("#table").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
</html>