<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Tables</h1>
    <table class="table table-hover col-6 text-center font-size" style="color: #c01d67">
        <thead class="table-success">
        <tr id="tr">
            <th>Table no.</th>
            <th>Space</th>
            <th>Status</th>
            <th>Delete</th>
            <th></th>
        </tr>
        </thead>
        {% for i in data %}
            <tr id="del">
                <td><input type="number" class="form-control" name="number_id" id="count" required
                           oninput="absNumber(this.value)" value="{{ i.id }}"></td>

                <td><input type="number" class="form-control" name="number_id" id="count" required
                           oninput="absNumber(this.value)" value="{{ i.space }}"></td>
                <td>{% if i.is_empty==false %}
                    <input type="text" class="form-control" name="number_id" id="count" required
                           oninput="absNumber(this.value)" value="Full">
                {% else %}
                    <input type="text" class="form-control" name="number_id" id="count" required
                           oninput="absNumber(this.value)" value="Empty">
                {% endif %}
                </td>
                {#                <td><input id="del" type="button" class="btn btn-danger" value="Delete"></td>#}
                <td><i class="bi-trash"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" class="btn btn-success" value="Add"></td>
        </tr>
    </table>
</div>
</body>

<script>
    $(document).ready(function () {
        $("#del").click(function () {
            $("#del").parent().hide()
        })
    })

</script>
</html>