<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Tables</h1>
    </div>
    <table class="table table-hover col-6 text-center font-size" style="color: #c01d67">
        <thead class="table-success">
        <tr id="tr">
            <th>Table no.</th>
            <th>Space</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Apply</th>
            <th></th>
        </tr>
        </thead>
        {% for i in data %}

            <tr id="del">
                <form action="{{ url_for('tables') }}" method="POST" id="{{ i.id }}"></form>
                <td>{{ i.id }}<input type="number" style="display: none" value="{{ i.id }}" name="id" form="{{ i.id }}"></td>
                <td><input type="number" class="form-control" name="space" required
                           oninput="absNumber(this.value)" value="{{ i.space }}" form="{{ i.id }}"></td>
                <td>{% if i.is_empty==false %}
                    <input type="text" class="form-control" name="status" required value="Full" form="{{ i.id }}">
                {% else %}
                    <input type="text" class="form-control" name="status" required value="Empty" form="{{ i.id }}">
                {% endif %}
                </td>
                <td>
                    <input id="check" type="checkbox" class="form-check-input" name="check_box" value='' oninput='checkBoxValue(this.id)' form="{{ i.id }}">
                </td>
                <td>
                    <input type="submit" class="btn btn-danger" name="" value="Apply" form="{{ i.id }}">
                </td>

            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" class="btn btn-success" value="Add"></td>
        </tr>
    </table>
</div>
</body>

<script>
    {#$(document).ready(function () {#}
    {#    $("#del").click(function () {#}
    {#        $("#del").parent().hide()#}
    {#    })#}


    function absNumber(number) {

        if (number <= 0) {
            if (number < 0) {
                $("#count").val(number * -1)
            } else {
                $("#count").val(1)
            }
        }

    }

    $("#FilterInput").on("input", function () {
        var value = $(this).val().toLowerCase();
        $("#table").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function checkBoxValue(num) {
        console.log(num)
        let elm = $(`#${num}`)
        elm.value = elm.checked
        console.log(elm.checked)
    }


</script>
</html>