.footer_container {
    background-color: #3f1901;
    color: #F5DEB3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_icon {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 22px;
}

.footer_icon i {
    color: white;
}

.footer_icon:first-child{
    background-color: #1d5e1d;
}

.footer_icon:nth-child(2){
    background-color: #2c79b0;
}

.footer_icon:nth-child(3){
    background-color: #3d3434;
}

.footer_icon:nth-child(4){
    background-color: #ef0909;
}

.footer_icon:nth-child(5){
    background-color: #225dcb;
}

.footer_icon:nth-child(6){
    background-color: #d90828;
}

.my_footer_table_cell {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    margin-bottom: 30px;
}

.my_text{
    margin-top: 30px;
}