.text-chocolate {
    color: chocolate !important;
}

.bg-chocolate {
    background-color: chocolate !important;
}

.btn-chocolate {
    background-color: chocolate !important;
    border-color: chocolate !important;
}