  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: rgb(49, 49, 49);
            width: 100%;
        }

        #tit, #par {
            color: white;
        }
    </style>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-11 justify-content-center">
            <div id="img" style="margin: 1rem;">
                <img class="img-fluid" src="{{ url_for('static', filename='images/about.jpg') }}" style="width: 100%"
                     alt="">
            </div>
            <h1 class="text-center" id="tit"></h1>
            <center>
                <div id="par" style="font-size: 18px">
                    <p class="font-weight-normal">
                        Cafe Matab project created by five passioned Maktab students, first phase of the project started
                        a
                        week ago and back in 2020 but that's still in development hoping to be finished within one week
                        and then
                        the team is going to be ready for the second phase of the project.
                    </p>
                    <p class="font-weight-normal">
                        Please let us know whenever you find any bug or
                        glitch by opening a ticket on your official github page.
                    </p>
                </div>
            </center>
            <div class="blockquote-footer m-2">
                Created for maktab-64 course
            </div>

            <div class="container-fluid ">
        <div class="card-columns">
            <div class="card bg-light" style="background-color: chocolate!important;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-weight: bold">Mohammadreza Khosroshahi</p>
                </div>
            </div>
            <div class="card bg-light" style="background-color: chocolate!important;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-weight: bold">Mehdi Shahidi</p>
                </div>
            </div>
            <div class="card bg-light" style="background-color: chocolate!important;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-weight: bold">Jalaloddin Keramati</p>
                </div>
            </div>
            <div class="card bg-light" style="background-color: chocolate!important;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-weight: bold">Mohammad Torkaman</p>
                </div>
            </div>
            <div class="card bg-light" style="background-color: chocolate!important;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-weight: bold">MohammadHasan Alizade</p>
                </div>
            </div>

        </div>
    </div>



        </div>
    </div>
