<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>maktab cafe</title>

{% include 'base_layout/cdns.html' %}

</head>
<body style="background-color: rgb(49,49,49)">
    <div class="welcome" style="background-color: black;">
        <center>
        <img src="/./static/images/index/23.jpg" alt="welcome" class="welcome" style=" height: 10%;width: 70%" >
        </center>
    </div>

{% include 'base_layout/_nav.html' %}

{% block body %}

{% block menu_items %}{% endblock %}
{% endblock %}

{% include 'base_layout/_footer.html' %}
</body>
</html>