<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>maktab cafe</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{#        <link rel="styleheet" href="{{ url_for('static', filename='css/main.css') }}">#}
{% include 'base_layout/cdns.html' %}
    <style>
    body{
        background-color: rgb(49,49,49);
    }
    .onav{
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .welcome{
        width: 30%;
        display: flex;
        justify-content: center;
        margin: auto;
    }


    </style>
</head>
<body>
    <div class="welcome">
        <img src="/./static/images/welcome.jpg" alt="welcome" class="welcome">
    </div>

{% include 'base_layout/_nav.html' %}

{% block body %}


{% endblock %}

{% include 'base_layout/_footer.html' %}

{% block menu_items %}{% endblock %}
</body>
</html>