<footer class="text-center text-lg-start bg-light text-muted" style="background-color: #3f1901 !important;">
    <!-- Section: Social media -->
    <style>
        i {
            font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
        }
    </style>
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-whatsapp" style="color:snow; font-size: 3vw; margin: 7vw 0px 0px 20px"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-twitter" style="color:snow; font-size: 3vw; margin: 7vw 0px 0px 20px"></i>

            </a>
            <a href="https://www.google.com/" class="me-4 text-reset">
                <i class="fa fa-google" style="color:snow; font-size: 3vw; margin: 7vw 0px 0px 20px"></i>

            </a>
            <a href="https://www.instagram.com/" class="me-4 text-reset">
                <i class="fa fa-instagram" style="color:snow; font-size: 3vw; margin: 70px 0px 0px 20px"></i>

            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-linkedin" style="color:snow; font-size: 3vw; margin: 70px 0px 0px 20px"></i>

            </a>
            <a href="https://github.com/MehdiAria/Maktab64-cafe" class="me-4 text-reset">
                <i class="fa fa-github" style="color:snow; font-size: 3vw; margin: 70px 0px 0px 20px"></i>

            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> Coffee Night
                    </h6>
                    <p>
                        we're passionate programmers from maktab sharif. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="{{ url_for('home') }}" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="{{ url_for('menu') }}" class="text-reset">Menu</a>
                    </p>
                    <p>
                        <a href="{{ url_for('about') }}" class="text-reset">About</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> azadi st , Tehran Iran</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        maktabemail@maktab.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 0933 555 5555</p>
                    <p><i class="fas fa-print me-3"></i> 0912 444 4444</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->


    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Powered By
        <a class="text-reset fw-bold" href="maktabsharif.com">group-1@maktabsharif</a>
    </div>
    <!-- Copyright -->
</footer>