<div class="container-fluid">
    <div class="row">
        {% for item in data.items %}
        <div class="card bg-light col-{{ 12//(data.items | length) }} m-3">
            <div class="card-body">
                <img src="{{ item.image_url }}" alt="tea" class="w-100 card-img-top" style="line-height: 5vh">
                <h3 class="card-text fw-light mt-3">{{ item.name }}</h3>
                <button class="btn btn-secondary mt-4 w-100">Add To Cart</button>
            </div>
        </div>
        {% endfor %}
        <!--        <div class="col-lg-4 bg-light rounded-3">-->
        <!--            <div class="container-fluid m-5">-->

        <!--                <img src="../../static/images/tea.jpg" alt="coffee" class="w-50">-->
        <!--            </div>-->
        <!--            <h2 class="fw-light mt-3"> Tea </h2>-->
        <!--            <a href="#" class="btn btn-info mt-3">Add TO Cart</a>-->
    </div>
</div>
