<div class="container-fluid">
    <div class="row adfadf">
        {% for category in data %}
            {% if data[category] is mapping %}
                {% for child_category in data[category] %}
                    <h1 class="bg-info">{{ child_category }}</h1>
                    {% for item in data[category][child_category] %}
                        <div class="card bg-light col-{{ 12//(data | length) }} m-3">
                            <div class="card-body">
                                <img src="{{ item.image_url }}" alt="tea" class="w-100 card-img-top"
                                     style="line-height: 5vh">
                                <h3 class="card-text fw-light mt-3">{{ item.name }}</h3>
                                <button class="btn btn-secondary mt-4 w-100">Add To Cart</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <h1 class="bg-info">{{ category }}</h1>
                {% for item in data[category] %}
                    <div class="card bg-light col-{{ 12//(data | length) }} m-3">
                        <div class="card-body">
                            <img src="{{ item.image_url }}" alt="tea" class="w-100 card-img-top"
                                 style="line-height: 5vh">
                            <h3 class="card-text fw-light mt-3">{{ item.name }}</h3>
                            <button class="btn btn-secondary mt-4 w-100">Add To Cart</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
