<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

{#<div class="container-fluid">#}
{#    <div class="card-columns">#}
{#        {% for category in data %}#}
{#            {% if data[category] is mapping %}#}
{#                <h1 class="bg-secondary p-4">{{ category }}</h1>#}
{#                {% for child_category in data[category] %}#}
{#                    <h1 class="bg-info p-3">{{ child_category }}</h1>#}
{#                    {% for item in data[category][child_category] %}#}
{#                        <div class="card bg-light">#}
{#                            <div class="card-body">#}
{#                                <img src="{{ item.image_url }}" alt="tea" class="w-100 card-img-top"#}
{#                                     style="line-height: 5vh">#}
{#                                <h3 class="card-text fw-light mt-3">{{ item.name }}</h3>#}
{#                                <button type="button" class="btn btn-secondary mt-4 w-100" data-bs-toggle="modal"#}
{#                                        data-bs-target="#myModal" onclick="func(this.id)"#}
{#                                        id="{{ item.id }} {{ item.name }}">#}
{#                                    Add To Cart#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <h1 class="bg-secondary p-4">{{ category }}</h1>#}
{#                {% for item in data[category] %}#}
{#                    <div class="card bg-light">#}
{#                        <div class="card-body">#}
{#                            <img src="{{ item.image_url }}" alt="tea" class="w-100 card-img-top"#}
{#                                 style="line-height: 5vh">#}
{#                            <h3 class="card-text fw-light mt-3">{{ item.name }}</h3>#}
{#                            <button type="button" class="btn btn-secondary mt-4 w-100" data-bs-toggle="modal"#}
{#                                    data-bs-target="#myModal" onclick="func(this.id)"#}
{#                                    id="{{ item.id }} {{ item.name }}">#}
{#                                Add To Cart#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{% include "items.html" %}

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adding <span id="item_n"></span> to cart</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="http://127.0.0.1:5000/order/1" method="POST" id="idForm" class="was-validated">
                    <div class="dropdown" id="available-tables">
                        {% if tables %}
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                                Select Your Table
                            </button>
                            <ul class="dropdown-menu">
                                {% for i in tables %}
                                    <li><a class="dropdown-item" href="#" onclick="tableIdSet(this.id)"
                                           id={{ i.id }}>Table {{ i.id }} Space: {{ i.space }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elif not tables and not table_id %}
                            <h3 class="text-danger">there is no empty table!</h3>
                        {% endif %}
                    </div>
                    {% if tables or table_id %}
                        <lable class="form-label">Count:</lable>
                        <input type="number" class="form-control" name="number_id" id="count" required
                               oninput="absNumber(this.value)">
                        <div class="invalid-feedback">
                            please fill Count!
                        </div>
                        <label class="form-label d-none" for="item_type">Item: </label>
                        <input style="border: 0;background: white;display: none"
                               class="form-control" type="text"
                               name="item_type"
                               id="item_type" disabled>
                        <input type="number" class="d-none" id="item_id" name="item_id" required>
                        <label class="form-label badge badge-success mt-2" for="table_id">Table: </label>
                        <span id="table_n"></span>
                        <input style="border: 0;background: white"
                               class="form-control d-none" type="text"
                               name="table_id"
                               id="table_id" disabled>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <input type="button" class="btn btn-success" value="Add to card" onclick="order()">
                        </div>
                    {% endif %}
                </form>
                <div id="msg" class="flash fade-in"></div>
            </div>


        </div>
    </div>
</div>

<!-- Cart Modal -->
{#<button type="button" class="btn btn-primary asd" data-bs-toggle="modal" data-bs-target="#ajaxModal">#}
{#    Open modal#}
{#</button>#}
<div class="modal fade" id="ajaxModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Your cart</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-cart-basket"></button>
      </div>
      <div class="modal-body" id="basket-ajax" style="background: #3c3d3e">
          <span class="text-white">Loading...</span>
      </div>
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>#}
{#      </div>#}
    </div>
  </div>
</div>

{#{% if receipt_id  %}#}
<div class="rounded-circle px-2" id="basket" style="position: fixed;z-index: 11;bottom:0;right: 0;display: none;">
    <a style="cursor: pointer" link="{{ url_for("order", table_id=table_id if table_id else 1)}}" id="cart-link" data-bs-toggle="modal" data-bs-target="#ajaxModal">
        <i class="bi bi-cart4" style="font-size: 6vw!important;color: chocolate"></i>
    </a>
</div>
{#{% endif %}#}

<script>
    {% if receipt_id %}
        $('#basket').css('display', 'flex')
    {% endif %}
    function func(ItemValue) {
        let elem = ItemValue.split(' ')
        $(`#item_id`).val(elem[0])
        $(`#item_type`).val(elem.slice(1,-1).join(' '))
        $(`#item_n`).html(elem.slice(1,-1).join(' '))
        console.log(elem.slice(1,-1))
        $(`#count`).val(1)

    }

    function DisableTableSet(value) {
        $(`#table_id`).val(value)
        $(`#table_n`).html(value)

        $(`#available-tables`).empty()
    }
    {% if table_id %}
        DisableTableSet({{ table_id }})
    {% endif %}
    function tableIdSet(TableIdValue) {
        let elem = $(`#${TableIdValue}`).attr('id')
        $(`#table_id`).val(elem)
        $(`#table_n`).html(elem)

    }

    function absNumber(number) {

        if (number <= 0) {
            if (number < 0) {
                $("#count").val(number * -1)
            } else {
                $("#count").val(1)
            }
        }

    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function demo(x) {

        await sleep(x);

        $('#msg').empty();


    }


    function order() {
        let elem = $(`#count`)
        let count = elem.val()
        let tbl = $(`#table_id`)
        let t_id = tbl.val()
        let item_id = $(`#item_id`)
        let i_id = item_id.val()
        $.ajax({
            type: "POST",
            url: `http://127.0.0.1:5000/order/${t_id}`,
            data: {
                'number_item': count,
                "item_id": i_id,

            },
            success: function (response) {
                let parrent = $("#msg")
                let msg = $(` <div class="alert alert-success alert-dismissible fade show">
                        <strong>Success!</strong> ${response}
                    </div>`)
                $('#basket').css('display', 'flex')

                msg.appendTo(parrent)
                demo(3000)
                DisableTableSet(t_id)
                window.setTimeout(function () {
                    $(".flash").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 3000);
                demo(3000)
                $('#basket').css('display', 'flex')

            },
            error: function () {
                let parrent = $("#msg")
                let msg = $(` <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error while adding order!</strong>
                              </div>`)
                msg.appendTo(parrent)
                demo(3000)
                window.setTimeout(function () {
                    $(".flash").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 3000);
                demo(3000)

            }
        })
    }

    $("#cart-link").click(function(){
        let link = $(this).attr("link")
        $.ajax({
            url:link,
            success:function(response){
                $("#basket-ajax").html(response)
            }
        })
    })

    $("#close-cart-basket").click(function () {
        $("#basket-ajax").html("<span class=\"text-white\">Loading...</span>")
    })


</script>

{#1. unknown order exception#}
{#2. pay bot#}