<div class="onav">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4" style="display: flex!important;flex-direction: row!important;justify-content: space-around!important;">
            <a href="{{ url_for('home') }}"><h5 class="text-white">Home</h5></a>
            <a href="{{ url_for('about') }}"><h5 class="text-white">About</h5></a>
            <a href="{{ url_for('menu') }}"><h5 class="text-white">Menu</h5></a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>