<style>
    .org{color: chocolate!important;}
</style>
<nav class="sticky-top navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
{#    <a class="navbar-brand mx-5" href="#">Logo here</a>#}
{#    <img src="/static/images/logo/LOGO3.png" alt="logo" style="width: 100px; height: 50px">#}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon org"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mr-2">
          <a class="nav-link nav-content org aj" href="#" id="Home" link="{{ url_for('handler') }}?home=true">Home</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link nav-content org aj" href="#" id="About" link="{{ url_for('handler') }}?about=true">About</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link nav-content org aj" id="Menu" href="#" link="{{ url_for('handler') }}?menu=true">Menu</a>
        </li>
          <li class="nav-item mr-2">
          <a class="nav-link nav-content org aj" id="Chashier" href="#" link="{{ url_for('handler') }}?cashier=true">Cashier Panel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

