{% extends "base_layout/_base.html" %}

{% block body %}

    <div class="text-md-center">
        <div id="img" style="margin: 1rem">
            <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="">
        </div>
        <h1 id="tit">{{ data.title }}</h1>
        <div id="par">
            <p class="font-weight-normal">
                {{ data.text }}
            </p>
        </div>
        <div class="blockquote-footer">
            Created for maktab-64 course
        </div>
    </div>
{% endblock %}