{% extends "base_layout/_base.html" %}
{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        .order-operation {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    </style>
{% endblock %}
{% block body %}
    {% if not data.error %}
    <div class="container">

        <h3 class="text-center m-3" style="color: antiquewhite;">Receipt ID: {{ data.receipt }} For
            table: {{ data.order[0].table_id }}</h3>
        <table class="table col6" style="color: antiquewhite">
            <thead>
            <tr id="tr">
                <th>Product</th>
                <th>Count</th>
                <th>Price</th>
                <th>Discount$</th>
                <th>+-delete</th>
            </tr>
            </thead>
            {% for i in data.item %}
                <tr id="tr-{{ i.id }}">
                    <td class="{{ i.id }}">{{ data.item[i].name }}</td>
                    <td class="{{ i.id }}" id="num_{{ i.id }}">{{ i.number_item }}</td>
                    <td class="{{ i.id }}">{% set total = data.item[i].price %}{{ data.item[i].price }}$</td>
                    <td class="{{ i.id }}">{% if data.item[i].discount==none %}
                        No discount
                    {% else %}
                        {{ data.item[i].discount }}
                    {% endif %}
                    </td>
                    <td class="{{ i.id }} order-operation">
                        <a style="cursor: pointer ; text-decoration: none" order_id="{{ i.id }}" class="order-btn"
                           link="{{ url_for("plus_order") }}">
                            <i class="bi bi-plus-circle-fill" style="color: #549153"></i>
                        </a>
                        <a style="cursor: pointer; text-decoration: none" order_id="{{ i.id }}" class="order-btn"
                           link="{{ url_for("decrease") }}">
                            <i style="color: #bf3a3a; " class="bi bi-dash-circle-fill"></i>
                        </a>
                        <a style="cursor: pointer; text-decoration: none" order_id="{{ i.id }}" class="order-delete-btn"
                           number_item={{ i.number_item }} link="{{ url_for("delete") }}" item_price = {{ data.item[i].price }}>
                            <i style="color: #bf3a3a" class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan='5' id="total_price">Total price: {{ data.price.total_price }}$</th>
            </tr>
        </table>
        <h1></h1>

    </div>
    <script>

        $(".order-delete-btn").click(function () {
            console.log(this)
            let link = $(this).attr("link")
            let order_id = $(this).attr("order_id")
            let number_item = $(this).attr("number_item")
            let item_price = $(this).attr("item_price")
            $.ajax({
                type: "POST",
                url: link,
                data: {
                    'order_id': order_id,
                    'number_item': number_item,
                    'item_price': item_price
                },
                success: function (response) {
                    $(`#tr-${order_id}`).empty()
                    let resp_price = Number(response)
                    console.log(resp_price)
                    console.log(response)
                    $("#total_price").html(`Total price: ${resp_price}$`)

                }
            })

        })

        $(".order-btn").click(function () {
            console.log(this)
            let link = $(this).attr("link")
            let order_id = $(this).attr("order_id")
            $.ajax({
                type: "POST",
                url: link,
                data: {
                    'order_id': order_id
                },
                success: function (response) {
                    $(`#num_${response['order_id']}`).html(response['number_item'])
                }
            })

        })


    </script>
    {% else %}
        <h3 class="bg-danger">
        {{ data.error }}
        </h3>
    {% endif %}
{% endblock %}